.document-body {
  min-height: 80vh;
  min-width: 70vw;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #3a3a3a;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  resize: vertical;
}

.doc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
#doc-header  {
  display: grid;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1rem;
}

#title{
  font-size: 1.2em;
}
.all-docs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}


button {
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}