.nav-bar {
    font-size: 1.4rem;
    padding: 0.4rem;
    width: 100%;
}
.nav-bar-tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logout {
    margin-right: 40px;
}

button{
    background-color: red;
    color: white;
    padding: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
