@import url("code.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#entire-app {
  display: flex;
}
.all-docs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.card {
  padding: 2em;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.remote-cursor {
  pointer-events: none;
  font-size: 12px;
  opacity: 0.8;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.editor-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.document-body {
  flex: 2;
  min-height: 300px;
  resize: vertical;
  color:rgba(255, 255, 255, 0.87);
}
.comments-panel {
  flex: 1;
  background: #f7f7f7;
  color: #242424;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
  min-height: 400px;
  max-width: 20vw;
  overflow-wrap: break-word; 
}
.comment-item {
  background: #242424;
  color:  rgba(255, 255, 255, 0.87);
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.new-comment textarea {
  max-width: 18vw;
  resize: none;
  margin-top: 8px;  
}
.new-comment button {
  margin-top: 6px;
}

.editor-container {
  position: relative;
  width: 70vw;
  display: flex;
  gap: 1rem;
}

#content {
  position: relative;
  z-index: 2;
  background: transparent;
  color: rgba(255, 255, 255, 0.87);;
  width: 100%;
  min-height: 800px;
  resize: none;
}

textarea {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;
  padding: 1rem;
  border: 1px solid #ccc; 
  border-radius: 8px;
}

#comment-textarea {
  width: 18vw;
} 

.s-button {
  background-color: #646cff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}